{% extends "layout.html" %}

{% block main %}

<div class="col-md-6 doc">
	<h2 class="">{{ main_article.title }} 
		<small class="bg-info">[{{ main_article.subject }}]</small>
	</h2>
	<p>{{ main_article.abstract }}</p>
	<cite>
	<a href="http://arxiv.org/abs/{{ main_article.arxiv_id }}">
		http://arxiv.org/abs/{{ main_article.arxiv_id }}
	</a>

	<a class='btn text-right' href="http://arxiv.org/pdf/{{main_article.arxiv_id}}">
		<span class="glyphicon glyphicon-file"></span> View PDF
	</a>
	</cite>
</div>

<div class="col-md-6">
	<h3 class="text-center">Similar Articles:</h3>
	<ul class="relateds">
	{% for related in sims %}
		<li>
			<a href="/article/{{ related['index'] }}">
			{{ related.title }}</a> ({{ related.pop() }})
			<small class="bg-info">[{{ related.subject }}]</small>
			</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  };
</script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
{% endblock %}