{% extends "layout.html" %}

{% block main %}

<div class="col-md-6 doc">
	<h2 class="">{{doc.title}} <small class="bg-info">[{{doc.subject}}]</small></h2>
	<p>{{doc.abstract}}</p>
</div>

<div class="col-md-6">
	<h3 class="text-center">Similar Articles:</h3>
	<ul class="similars">
	{% for sim in sims %}
		<li>
			<a href="/doc/{{ sim.index }}">
			{{ sim.title }}</a>
			<small class="bg-info">[{{sim.subject}}]</small>
			</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  };
</script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
{% endblock %}