{% extends "layout.html" %}

{% block main %}
<div class="col-md-6">
  {% if likes|length > 0 %}
    <ul class="likes">
    {% for article in likes %}
      <li>{{article[1]}}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if unlikes|length > 0 %}
    <ul class="unlikes">
    {% for article in unlikes %}
      <li>{{article[1]}}</li>
    {% endfor %}
    </ul>
  {% endif %}

</div>

<div class="col-md-6">
  {% if similars|length > 0 %}
    <ul class="similars">
    {% for article in similars %}
      <li>{{article}}</li>
    {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}